############################################################
## Any changes to this file must be represented in ".env" ##
############################################################

NODE_ENV=development
PORT=3001
FRONTEND_HOST=http://localhost:3000
BACKEND_HOST=http://localhost:3001
HABITICA_API_URL=https://habitica.com/api/v3
HABITICA_WEBHOOK_URL_OVERRIDE=$BACKEND_HOST
HABITICA_APP_CLIENT=TEST
HABITICA_ADMIN_FOR_NOTIFICATIONS=
RESTRICT_CORS_ORIGINS=false

ADMIN_USER_EMAIL=
ADMIN_USER_PASS=
TOKEN_SALT=27663e1e-1685-4608-aff5-d5ff23993862-aa77c596-ec6f-4a72-bf31-0e1b6ab2fdc7
HABITICA_ENCRYPTION_SECRET=7eedcf6b-7900-4c9d-9fd8-b78b1adaf2a4-f8db2070-9771-47e0-9b3c-5848f664b46f

DEV_DB_PORT=5432
DEV_DB_HOSTNAME=localhost
DEV_DB_DATABASE=habitools-backend-dev
DEV_DB_USERNAME=bb6b7866-6d9e-4b21-8141-a34927e2a0a8
DEV_DB_PASSWORD=587099cc-ef78-4cbd-a720-950a5f5a733f
DEV_DB_USE_SSL=false

HCAPTCHA_SITE_VERIFY_SECRET=0x0000000000000000000000000000000000000000
# hCaptcah autopass test secret: 0x0000000000000000000000000000000000000000


########################################################################
## The following variables are only necessary when running production ##
########################################################################
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

DB_PORT=
DB_HOSTNAME=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_USE_SSL=

EMAILER_API_KEY=
EMAILER_OVERRIDE_SEND_ADDRESS=$ADMIN_USER_EMAIL

POSTHOG_HOST=
POSTHOG_KEY=

## This is only here as an example.
## If you need to seed the production docker build, then set this to true from your production environment. 
SEED_PRODUCTION_DANGEROUS=